workflows/backups/daily_auto_20250807_024723/email_marketing-prod.json
{
  "name": "Email Marketing-prod",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -540,
        -80
      ],
      "id": "97a38be5-426a-4a15-b315-aae2165565db",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        -80
      ],
      "id": "06562ad8-db9c-4f73-9252-ad4d7df4e46e",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ea1f08b-67a8-4fd9-b902-e6c1de452dc9",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20,
        -80
      ],
      "id": "2678c3b0-68e2-4d81-b415-a162e066f74d",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "VictorNov",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-ci-cd",
          "mode": "list",
          "cachedResultName": "n8n-ci-cd",
          "cachedResultUrl": "https://github.com/VictorNov/n8n-ci-cd"
        },
        "workflowId": {
          "__rl": true,
          "value": 179288501,
          "mode": "list",
          "cachedResultName": "Sync Workflows to Production"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "={\n  \"workflows\": \"{{ $json.chatInput }}\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -380,
        -80
      ],
      "id": "4a92bfdb-1b67-4379-9a46-cca66fec586c",
      "name": "GitHub",
      "webhookId": "206a5253-7d51-4fe7-b028-126c64491365",
      "alwaysOutputData": false,
      "credentials": {
        "githubOAuth2Api": {
          "id": "OxFRtTpB8aJPdNJg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "Version: 0.0.1"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -520,
        -300
      ],
      "typeVersion": 1,
      "id": "cd1f254c-ab6e-4e47-9427-b7a0c5c51fcd",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-05T13:30:27.443Z",
      "updatedAt": "2025-08-05T13:30:27.443Z",
      "role": "workflow:owner",
      "workflowId": "tIKyU3P5Ifjz06Ni",
      "projectId": "ld5JedyMx1F9QqRn",
      "project": {
        "createdAt": "2025-06-16T12:58:27.239Z",
        "updatedAt": "2025-07-17T17:40:57.589Z",
        "id": "ld5JedyMx1F9QqRn",
        "name": "Victor Novokshenov <between.photo@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-16T12:58:27.240Z",
            "updatedAt": "2025-06-16T12:58:27.240Z",
            "role": "project:personalOwner",
            "userId": "c9aae829-0c97-4718-b4f7-67709983d4b0",
            "projectId": "ld5JedyMx1F9QqRn",
            "user": {
              "createdAt": "2025-06-16T12:58:27.237Z",
              "updatedAt": "2025-08-06T14:03:29.341Z",
              "id": "c9aae829-0c97-4718-b4f7-67709983d4b0",
              "email": "between.photo@gmail.com",
              "firstName": "Victor",
              "lastName": "Novokshenov",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "userClaimedAiCredits": true,
                "firstSuccessfulWorkflowId": "tIKyU3P5Ifjz06Ni",
                "userActivated": true,
                "userActivatedAt": 1754489007792
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}