workflows/backups/pre_import_auto_2025-08-07_125620/email_marketing-dev.json
{
  "name": "Email Marketing-dev",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        -80
      ],
      "id": "97a38be5-426a-4a15-b315-aae2165565db",
      "name": "When clicking ‘Test workflow’ Testing..."
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        -80
      ],
      "id": "06562ad8-db9c-4f73-9252-ad4d7df4e46e",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "VictorNov",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-ci-cd",
          "mode": "list",
          "cachedResultName": "n8n-ci-cd",
          "cachedResultUrl": "https://github.com/VictorNov/n8n-ci-cd"
        },
        "workflowId": {
          "__rl": true,
          "value": 179288501,
          "mode": "list",
          "cachedResultName": "Sync Workflows to Production"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "={\n  \"workflows\": \"{{ $json.chatInput }}\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -320,
        -80
      ],
      "id": "4a92bfdb-1b67-4379-9a46-cca66fec586c",
      "name": "GitHub",
      "webhookId": "206a5253-7d51-4fe7-b028-126c64491365",
      "alwaysOutputData": false,
      "credentials": {
        "githubOAuth2Api": {
          "id": "OxFRtTpB8aJPdNJg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        120,
        -80
      ],
      "id": "1658cc66-3df0-4caa-a6bd-2c79a068535a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "return {\n  var1: 'var value for dev'\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        -80
      ],
      "id": "a428d070-3d8a-46b1-91e7-29846995da75",
      "name": "Configuration"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "GitHub": {
      "main": [
        []
      ]
    },
    "When clicking ‘Test workflow’ Testing...": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-05T13:30:12.463Z",
      "updatedAt": "2025-08-05T13:30:12.463Z",
      "role": "workflow:owner",
      "workflowId": "I3fEanqNEJi07MoC",
      "projectId": "ld5JedyMx1F9QqRn",
      "project": {
        "createdAt": "2025-06-16T12:58:27.239Z",
        "updatedAt": "2025-07-17T17:40:57.589Z",
        "id": "ld5JedyMx1F9QqRn",
        "name": "Victor Novokshenov <between.photo@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-16T12:58:27.240Z",
            "updatedAt": "2025-06-16T12:58:27.240Z",
            "role": "project:personalOwner",
            "userId": "c9aae829-0c97-4718-b4f7-67709983d4b0",
            "projectId": "ld5JedyMx1F9QqRn",
            "user": {
              "createdAt": "2025-06-16T12:58:27.237Z",
              "updatedAt": "2025-08-06T14:03:29.341Z",
              "id": "c9aae829-0c97-4718-b4f7-67709983d4b0",
              "email": "between.photo@gmail.com",
              "firstName": "Victor",
              "lastName": "Novokshenov",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "userClaimedAiCredits": true,
                "firstSuccessfulWorkflowId": "tIKyU3P5Ifjz06Ni",
                "userActivated": true,
                "userActivatedAt": 1754489007792
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}