workflows/email_marketing.json
{
  "name": "Email Marketing-dev",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2140,
        -440
      ],
      "id": "97a38be5-426a-4a15-b315-aae2165565db",
      "name": "When clicking ‘Test workflow’..."
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        -440
      ],
      "id": "06562ad8-db9c-4f73-9252-ad4d7df4e46e",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "VictorNov",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-ci-cd",
          "mode": "list",
          "cachedResultName": "n8n-ci-cd",
          "cachedResultUrl": "https://github.com/VictorNov/n8n-ci-cd"
        },
        "workflowId": {
          "__rl": true,
          "value": 179288501,
          "mode": "list",
          "cachedResultName": "Sync Workflows to Production"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "={\n  \"workflows\": \"{{ $json.chatInput }}\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1700,
        -440
      ],
      "id": "4a92bfdb-1b67-4379-9a46-cca66fec586c",
      "name": "GitHub",
      "webhookId": "206a5253-7d51-4fe7-b028-126c64491365",
      "alwaysOutputData": false,
      "credentials": {
        "githubOAuth2Api": {
          "id": "OxFRtTpB8aJPdNJg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"var1\": \"some dev variable\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        -440
      ],
      "id": "config-1755167132137-3214",
      "name": "Configuration"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        216,
        -440
      ],
      "id": "9d2d146c-4fcc-4f35-a29b-f17ecca04fd3",
      "name": "Code1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "VictorNov",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-ci-cd",
          "mode": "list",
          "cachedResultName": "n8n-ci-cd",
          "cachedResultUrl": "https://github.com/VictorNov/n8n-ci-cd"
        },
        "workflowId": {
          "__rl": true,
          "value": 179288501,
          "mode": "list",
          "cachedResultName": "Sync Workflows to Production"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "={\n  \"workflows\": \"{{ $json.chatInput }}\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -4,
        -440
      ],
      "id": "a5701c7a-9dcc-44e1-9186-ea26938f3998",
      "name": "GitHub1",
      "webhookId": "206a5253-7d51-4fe7-b028-126c64491365",
      "alwaysOutputData": false,
      "credentials": {
        "githubOAuth2Api": {
          "id": "OxFRtTpB8aJPdNJg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        436,
        -440
      ],
      "id": "68e7da5e-12a0-4998-a2b6-fb1639ab5a91",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"var1\": \"some dev variable\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -440
      ],
      "id": "136ad2c1-c522-40fb-bc13-fe3d580d60d0",
      "name": "Configuration1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -820,
        -440
      ],
      "id": "e140a6a3-7c0e-4311-bd44-d858d86e3d64",
      "name": "Code2"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "owner": {
          "__rl": true,
          "value": "VictorNov",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-ci-cd",
          "mode": "list",
          "cachedResultName": "n8n-ci-cd",
          "cachedResultUrl": "https://github.com/VictorNov/n8n-ci-cd"
        },
        "workflowId": {
          "__rl": true,
          "value": 179288501,
          "mode": "list",
          "cachedResultName": "Sync Workflows to Production"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        },
        "inputs": "={\n  \"workflows\": \"{{ $json.chatInput }}\"\n}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1260,
        -440
      ],
      "id": "2f123927-01ea-4783-96ea-e7b90d95c6e3",
      "name": "GitHub2",
      "webhookId": "206a5253-7d51-4fe7-b028-126c64491365",
      "alwaysOutputData": false,
      "credentials": {
        "githubOAuth2Api": {
          "id": "OxFRtTpB8aJPdNJg",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"var1\": \"some dev variable\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1480,
        -440
      ],
      "id": "afb7f388-3937-4b7d-b4ef-440846a427ba",
      "name": "Configuration2"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Configuration2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’ Testing...": {
      "main": [
        []
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’...": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration1": {
      "main": [
        [
          {
            "node": "GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration2": {
      "main": [
        [
          {
            "node": "GitHub2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        []
      ]
    },
    "GitHub1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-05T13:30:12.463Z",
      "updatedAt": "2025-08-05T13:30:12.463Z",
      "role": "workflow:owner",
      "workflowId": "I3fEanqNEJi07MoC",
      "projectId": "ld5JedyMx1F9QqRn",
      "project": {
        "createdAt": "2025-06-16T12:58:27.239Z",
        "updatedAt": "2025-07-17T17:40:57.589Z",
        "id": "ld5JedyMx1F9QqRn",
        "name": "Victor Novokshenov <between.photo@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-16T12:58:27.240Z",
            "updatedAt": "2025-06-16T12:58:27.240Z",
            "role": "project:personalOwner",
            "userId": "c9aae829-0c97-4718-b4f7-67709983d4b0",
            "projectId": "ld5JedyMx1F9QqRn",
            "user": {
              "createdAt": "2025-06-16T12:58:27.237Z",
              "updatedAt": "2025-08-11T15:38:44.655Z",
              "id": "c9aae829-0c97-4718-b4f7-67709983d4b0",
              "email": "between.photo@gmail.com",
              "firstName": "Victor",
              "lastName": "Novokshenov",
              "personalizationAnswers": null,
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "userClaimedAiCredits": true,
                "firstSuccessfulWorkflowId": "tIKyU3P5Ifjz06Ni",
                "userActivated": true,
                "userActivatedAt": 1754489007792,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1754926720567
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}